<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
<bean class="sample07.Member" id="m">
	<property name="addr" value="수원"/>
	<property name="age" value="20"/>
	<property name="name" value="kim"/>
</bean>

<bean class="sample07.Member" id="m2">
	<property name="addr" value="서울"/>
	<property name="age" value="25"/>
	<property name="name" value="min"/>
</bean>

<!-- 
	속성 : autowire
	1) byType : setXxx()를 자동 호출한다.
				type이 같은 객체를 찾아서 자동으로 주입(호출) 아래의 경우 setMember를 호출하고 위의 이미 존재하는 member객체를 주입한다.
				동일한 type이 여러개 생성되어 있으면 오류 발생 이런경우 byName을 사용해야한다.
				byType은 반드시 동일한 객체 한 개만 존재할 때 사용가능하다.
	
	2) byName : setXxx()를 자동 호출한다.
				xml의 id와 java문서의 property이름이 동일한 객체를 찾는다. -> 변수의 이름이라고 생각하면 된다.
				못찾으면 오류 없고 주입이 안된다.
				
	3) constructor : 생성자를 호출한다.
					 처음에 byType으로 찾고 안되면 byName을 찾기
					 여기서 byName은 xml의 id와 java의 생성자 매개변수의 이름과 동일해야 주입된다.
 -->
<bean class="sample07.MemberController" id="control" autowire="constructor"/>


</beans>
