<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<bean class="sample04.Student" id="student">
		<property name="sno" value="100"></property>
		<property name="name" value="장희정"></property>
		<property name="phone" value="111-2222"></property>
		<property name="addr" value="제주도"></property>
	</bean>
	
	<bean class="sample04.StudentDAOImpl" id="dao"/>
	
	<bean class="sample04.StudentServiceImpl" id="service">
		<property name="studentDAO" ref="dao"></property>
	</bean>
	
	<!-- 객체 생성 setter를 이용한 주입 -->
	<bean class="sample04.StudentController" id="controller">
		<property name="student" ref="student"/>
		<property name="studentService" ref="service"/>
	</bean>

</beans>
